<!DOCTYPE html>
<html lang="en">
<style type="text/css">
.container {width: 460px; margin: 10 auto; overflow: hidden;}
.spinwheel {width:100px; margin:0 auto; padding-top:190px;}
.contentBar {width:10px; margin:0 auto; padding-top:50px; padding-bottom:10px;}

</style>


  <head>

    <title>MSS iThinK</title>
    
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/plugin.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
   
 </head>

  <body>

    <header id="home" class="home-section">
        
        <div class="header-top-area">
            <div class="container">
                <div class="row">
                
                    <div class="col-sm-3">
                        <div class="logo">
                            <a href="">MSS iThinK</a>
                        </div>
                    </div>
                    
                    <div class="col-sm-9">
                        <div class="navigation-menu">
                            <div class="navbar">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="active"><a class="smoth-scroll" href="#home">Home <div class="ripple-wrapper"></div></a>
                                        </li>                           
                                        <li><a class="smoth-scroll" href="#testimonials">Developers</a>
                                        </li>                                    
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="home-section-background" data-stellar-background-ratio="0.6">
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container">
                        <div class="row"><br><br>
                            <div class="col-md-12 text-center">
                                <div class="header-text">
                                    <p>Hi! This is MSS iThinK</p>
                                    <h2><span id="typing" class="typing"></span></h2></div>
                                   
<div class="content" id="spinwheel" style="visibility: hidden;">
    <div class="circle"></div>
    <div class="circle1"></div>
</div>

    
                          <div class="myform"  style= "visibility:;">
                            <form align="center" id="myform" method="GET" action="http://localhost:5000/graph_query">
                                 <input  name="input_file" id="input_file" align="center" class="button button-style button-style-icon fa fa-long-arrow-right smoth-scroll" type="file"/>
                                     <div class="container">
							
                                 <button onclick="animation()" class="button button-style   button-style-icon fa fa-long-arrow-right smoth-scroll"  value="Analyze" type="submit"/>Analyze</button>
                            </form>
                         </div>
                         
                         <div class="analyze" id="analyze" style="visibility: hidden;"><p style="color:white; text-align: center; text-shadow: 0 0 30px #2187e7; font-size: 35px;  ">Uploading your file for Analyis ..Please Wait for a While</p></div>
                         </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </header>
 
     <section id="testimonials" class="testimonial-section section-space-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>Developers</h2>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="testimonial-carousel-list margin-top-20">
                
                    <div class="testimonial-word text-center">
                        <h2>YasH</h2>
                      <h5>C.S.E<br>B.tech 4th year<br> M.V.G.R College of Engineering</h5>
                    </div>
                    
                    <div class="testimonial-word text-center">
                        <h2>AbHi</h2>
                     <h5> C.S.E<br>B.tech 4th year<br>Kakinada Institute of Engineering and Technology</h5>
                    </div>
                    
                     <div class="testimonial-word text-center">
                        <h2>Harish</h2>
                     <h5> C.S.E<br>B.tech 4th year<br>N.S.Raju Institute of Technology</h5>
                    </div>
                  <div class="testimonial-word text-center">
                        <h2>Nagarjuna</h2>
                     <h5> C.S.E<br>B.tech 4th year<br>Miracle college of Engineering</h5>
                    </div>
                    <div class="testimonial-word text-center">
                      <h2>Gopi</h2>
                     <h5>   C.S.E<br>B.tech 3rd year<br>KITS College of Engineering</h5>
                    </div><div class="testimonial-word text-center">
                        <h2>Karthik</h2>
                     <h5> C.S.E<br>B.tech 4th year<br>Sri Sivani College of Engineering</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
  
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }} "></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugin.js') }} "></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }} "></script>
  
  
  </body>
 </html>